/* src/styles/HeaderFooter.css */
/* src/styles/HeaderFooter.css */
.header {
    background-color: #d61bba;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header nav {
    display: flex;
    gap: 15px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  